* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hightlightedColor: rgb(80, 55, 241);
    --dangerColor: rgb(241, 55, 55);
    --lightColor: rgb(109, 109, 109);
    --darkColor: rgb(9, 9, 9);
    --veryLightColor: rgba(201, 201, 201, 0.17);
    --defaultColor: white;
    --fontFamily: Kanit;
}

body{
    font-family: var(--fontFamily);
    background-color: var(--veryLightColor);
    user-select: none;
    min-height: 100vh;
    position: relative;
    /* padding: 10px; */
    
    &::-webkit-scrollbar {
        display: none;
    }

    .alertContainerWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        #overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 80%;
            background-color: var(--darkColor);
            z-index: 2;
        }

        #deleteConfirmContainer{
            width: 25%;
            background-color: var(--defaultColor);
            border-radius: 5px;
            padding: 20px;
            z-index: 3;
        }

        .btnContainer{
            justify-content: space-between;

            .btn{
                width: 30%;
                margin-top: 20px;
                padding: 10px;
                border-radius: 5px;
                text-align: center;
                font-weight: 500;
                transition: all 0.2s ease-in-out;
                border: none;

                &:hover{
                    cursor: pointer;
                    font-weight: 600;
                    transform: scale(1.05);
                }
            }
        }
    }
}

#cancelBTN{
    background-color: var(--veryLightColor);
    color: var(--darkColor);
}

#deleteComfirmBTN{
    background-color: var(--dangerColor);
    color: var(--defaultColor);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageSection {
    overflow: hidden;
    
    img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}



main{
    width: 50%;
    margin: 0 auto;
    background-color: var(--defaultColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.disableContainer{
        display: none;
        transition: all 0.2s ease-in-out;
    }

.enableContainer{
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}

.container{
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    
    .subContainer{
        margin-bottom: 10px;
    }

    .header{
        justify-content: space-between;
        height: fit-content;

        .dotSetting{
            width: 5%;
            aspect-ratio: 1;
            transition: all 0.2s ease-in-out;

            &:hover{
                cursor: pointer;
                background-color: var(--veryLightColor);
            }
            
            .dotSettingImageContainer{
                width: 50%;
            }
        }
    }

    .authorName{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .subText{
        color: var(--lightColor);
        font-size: 0.9rem;
    }

    .highlight{
        color: var(--hightlightedColor);
        font-weight: 500;
    }

    hr{
        opacity: 30%;
    }

    .plainText{
        margin: 20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        justify-content: end;

        &:hover{
            color: var(--hightlightedColor);
        }
    }

    .interactContainer{
        width: 50%;
        padding: 10px;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: var(--veryLightColor);
            cursor: pointer;
        }
    }
}

#commentContainerWrapper{
    padding-top: 0;
    padding-bottom: 20px;
}

.authorContainer{
    width: 40%;
    justify-content: start;
    
    .authorImageContainer{
        width: 20%;
        aspect-ratio: 1;
        border-radius: 100%;
        margin-right: 20px;
    }
}

.content{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.engagementContainer{
    justify-content: space-between;
}

#likeCommentContainer{
    justify-content: space-around;
}

.clickIcon{
    width: 30%;
    justify-content: start;
    
    .iconImage{
        width: 20%;
        margin-right: 10px;
    }
}

.commentContainer{
    width: 100%;
    border: 2px solid var(--veryLightColor);
    margin-bottom: 10px;
}

.commentAuthorContainer{
    width: 40%;

    .commentAuthorImageContainer{
        margin-right: 10px;
    }
    
    .commentAuthorDetailContainer{
        
        .commentAuthorName{
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 0px;
            margin-right: 10px;
        }
    }

}

.replyContainer{
    width: 100%;
    margin-left: 20px;
    padding: 10px;
    border-left: 2px solid var(--veryLightColor);
}

.settingOption{
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
    
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        color: var(--hightlightedColor);
    }

    #deleteText{
        &:hover{
            color: var(--dangerColor);
        }
    }
}

@media(max-width: 1025px) and (min-width: 550px) {
    main {
        width: 80%;
    }
}

@media (max-width: 550px){
    main{
        width: 100%;
        border-radius: 0;
        margin: 0;
    }

    .container{
        .content,
        .plainText,
        .engagementContainer{
            font-size: 1rem;
        }
    }

    .authorContainer{
        width: 100%;

        .authorName{
            font-size: 1.2rem;
        }
    }

    .interactContainer{
        width: 50%;
        padding: 0;
        
        .clickIcon{
            width: 60%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .iconName{
                display: none;
            }
        }
    }
}